<section>
  <header></header>

  <div hx-get="<%= url_for('/jobs/_stats') %>"
       hx-trigger="load, every 5s"
       hx-swap="innerHTML">
    <div class="alert alert-info">Loading statistics…</div>
  </div>

  <div id="content">
    <div id="scheduled-poller"
         hx-get="<%= url_for('/jobs/_scheduled') %>"
         hx-trigger="load"
         hx-swap="outerHTML">
      <div class="alert alert-info">Loading scheduled jobs&hellip;</div>
    </div>
  </div>
</section>
