<% if @streams.empty? -%>
  <div class="alert alert-info">No streams found</div>
<% else -%>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Messages</th>
          <th>Size</th>
          <th>Consumers</th>
          <th>Subjects</th>
          <th>Sequence</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @streams.each do |stream| -%>
          <%= render("streams/_stream_row", { stream: stream }) %>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>
